/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&family=The+Nautigal&display=swap');
/* fonts */
body{
    font-family: 'Poppins', sans-serif;
    background-color: #F3F1FF;
}
main{
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.container{
    background-color: #FFFFFF;
    width:870px;
    padding:30px 30px;
    padding-top:14px;
    margin: 30px;
    
    border-radius: 7px;

}
.work1{
    color: #562EFF;
    font-size:24px;
    font-weight:500px;


}

.players{
    display:grid;
    grid-template-columns:auto auto auto;
}
.player{
    display:flex;
    align-items: center;
    grid-row-gap:30px;
}
.player img{
    height: 56px;
    width: 56px;
   
}
.player-name{
    margin-left:16px;
    font-size:18px;
}
hr{
    border: 1px solid #D1D1D1;
    margin-top: 30px;
    margin-bottom:27px;
}
.bloges{
    display:grid;
    grid-template-columns: auto auto;
    grid-row-gap:26px;
}
.blog .thumbnail img{
    width: 177px;
    height: 117px;
}
.blog{
    display:flex;
}
.blog-info{
    margin-left: 16px;
}
.blog-title{
    font-size:20px;
}
.blog-author{
    color: #9F9F9F;
    font-size: 16px;
}
.blog-author a{
    text-decoration: none;
    font-size:16px;
    color:#562EFF;
    width: 108px;
    height: 24px;
}
.course .course-banner img{
    width: 266px;
    height: 141px;
}
.fa-star.filled{

    color:#FFC014;
    Width 12.25px
    Height 11.75px
}
.fa-star.empty{

    color:#AEAEAE;
    Width 12.25px
    Height 11.75px
}
.course-info{
    display:flex;
    align-items: center;
    
}
.course-duration{
   background-color:#FFE4E8;;
   border-radius:300px;
}
.fa-clock{
   color: #ED6B4F;
}
.time{
    color: #ED6B4F;

}
.courses{
    display:grid;
    grid-template-columns: auto auto auto;
    grid-column-gap:24px;
}
